<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">


<H1>Admin Page</H1>
<div class="user-posts-container">
    <h2>List of Questions</h2>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>Title</th>
            <th>Topic</th>
            <th>Description</th>
            <th>Image</th>
            <th>Datetime</th>
            <th>Status</th>
        </thead>
        <tbody>
            <tr *ngFor="let q of questions">
    
                <td>{{q.id}}</td>
                <td>{{q.title}}</td>
                <td>{{q.topic}}</td>
                <td>{{q.description_question}}</td>
                <td><img [src]="q.image_src" alt="My Image"></td>
                <td>{{q.datetime}}</td>
                <td>{{q.status}}</td>
                <td>
                    <button mat-raised-button (click)="approvePost(q)"	color="primary">Approve</button>
                    
                    <button mat-raised-button	(click)="denyPost(q)"color="warn">Deny</button></td>
            </tr>

        </tbody>
    </table>
</div>
