<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

<H1>User Page</H1>
<div class="new-question-container">
    <br>
    <button mat-raised-button (click)="addNewQuestion()" color="primary">Add New Question</button>
    <form *ngIf="addNewQuestionFormVisible" novalidate #newQuestionForm="ngForm"
        (ngSubmit)="submitNewQuestion(newQuestionForm)" class="needs-validation">
        <div class="form-group">
            <label for="title">Title:</label>
            <input class="form-control" name="title" id="title" type="text" placeholder="Title"
                [(ngModel)]="question.title" required>
        </div>

        <div class="form-group">
            <label for="topic">Topic:</label>
            <input class="form-control" name="topic" id="topic" type="text" placeholder="Topic"
                [(ngModel)]="question.topic" required>
        </div>

        <div class="form-group">
            <label for="description_question">Description:</label>
            <input class="form-control" name="description_question" id="description_question" type="text"
                placeholder="Description" [(ngModel)]="question.description_question" required>
        </div>

        <div class="form-group">
            <label for="image_src">Image:</label>
            <input class="form-control" name="image_src" id="image_src" type="url" placeholder="Image Source Text"
                [(ngModel)]="question.image_src" required>
        </div>

        <button mat-raised-button type="submit" color="primary">Submit Question</button>
    </form>
</div>

<br>

<div class="question-list-container">
    <h1>List of Questions</h1>
    <div *ngIf="questions && questions.length ">
      <div class="question-card-container">
        <div class="question-card" *ngFor="let q of questions">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                <div class="question-topic-icon"></div>
    
                <a [routerLink]="['/questionforum', q.id]" href="/questionforum">{{q.title}}</a>
              </mat-card-title>
              <mat-card-subtitle>
                {{q.qcreated_by.username}}<br>
                {{q.topic}}
              </mat-card-subtitle>
              <div ></div>
            </mat-card-header>
            <mat-card-content>
              <p>{{q.description_question}}</p>
              <div *ngIf="q.image_src!=null && q.image_src!=''">
                <img [src]="q.image_src" alt="My Image">

              </div>
            </mat-card-content>
            <mat-card-footer>
              <div>
                <span>{{q.datetime}}</span>
                <span>{{q.status}}</span>
              </div>
             
            <div>
       
             
            </div>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>
  