img{
    width:50px;
    height: 50px;
}

.question-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .question-card-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .question-card {
    max-width: 600px;
    width: 100%;
    margin: 10px;
  }
  
  .question-topic-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    margin-right: 10px;
  }
  
  mat-card-header, mat-card-content, mat-card-actions, mat-card-footer {
    padding: 10px;
  }
  
  mat-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  mat-card-footer div {
    display: flex;
    align-items: center;
  }
  
  mat-card-footer span {
    font-size: 12px
  }  