<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

<H1 style="text-align: center;" >{{question.title}}</H1>
<H3 style="text-align: center;">{{question.description_question}}</H3>
<h4 style="text-align:center;" > {{question.datetime}}</h4>
<br>
<div *ngIf="question.image_src!=null && question.image_src!=''">
    <img src="{{question.image_src}}" alt="My Image">

</div>
<div class="answer-list-container">
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>Description</th>
            <th>Image</th>
            <th>Datetime</th>
            <th>Status</th>
        </thead>
        <tbody>
            <tr *ngFor="let a of answers">
                <td>{{a.id}}</td>
                <td>{{a.description_answer}}</td>
                <td><img [src]="a.img_src" alt="My Image">
                </td>
                <td>{{a.datetime}}</td>
                <td>{{a.status}}</td>
            </tr>
        </tbody>
    </table>
</div>
<br>

<div class="new-answer-container">
    <br>
    <button mat-raised-button (click)="addNewAnswer()" color="primary">Add New Answer</button>
    <form *ngIf="addNewAnswerFormVisible" novalidate #newAnswerForm="ngForm" (ngSubmit)="submitNewAnswer(newAnswerForm)" class="needs-validation">
        <div class="form-group">
            <label for="description_answer">Answer:</label>
            <input class="form-control" name="description_answer" id="description_answer" type="text" placeholder="Description" [(ngModel)]="answer.description_answer" required>
        </div>

        <div class="form-group">

            <label for="image_src">Image:</label>
            <input class="form-control" name="img_src" id="img_src" type="url" placeholder="Image Source Text" [(ngModel)]="answer.img_src" required>
        </div>

        <button mat-raised-button type="submit" color="primary">Submit Answer</button>
    </form>
</div>