.spacer {
    flex: 1 1 10px;
  }
  .xxxs-spacer {
    flex: 1 1 1px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-buttons {
    color:white;
    display: flex;
    gap: 10px;
  }
  

  .nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  
  .button-text {
    margin-left: 4px;
  }

  .larger-icon {
    font-size: 30px; 
  }
  
  
  
  
  