<mat-sidenav-container fullscreen>
  <mat-toolbar class="header" color="primary">
    <mat-toolbar-row>
      <span> DoConnect </span>

      <div class="xxxs-spacer"></div>

      <ng-container *ngIf="isUserPostPath() || isAdminPostPath()">
        <form (ngSubmit)="searchQuestion()">

          <div class="youtube-search-bar">
            <div class="search-container">
              <div class="search-icon-container" >
                <i class="fa fa-search"><mat-icon  style="padding-top: 4px;">search</mat-icon></i>
              </div>
              <input type="text" placeholder="Search" class="search-input" style="font-size: x-large; line-height: .5;" >
              <button class="search-button"><mat-icon>search</mat-icon></button>
            </div>
          </div>
        </form>
      </ng-container>


      <div class="spacer"></div>



      <div class="nav-buttons">
        <button  mat-raised-button class="nav-button">
          <mat-icon aria-hidden="false" aria-label="profile icon" style="font-size: 18px;">account_circle</mat-icon>
          <span class="button-text">{{ username }}</span>
        </button>


        <button mat-raised-button (click)="homeButton()" class="nav-button">
          <mat-icon aria-hidden="false" aria-label="home icon" style="font-size: 18px;" >home</mat-icon>
          Home
        </button>
        <button mat-raised-button (click)="onChat()" class="nav-button">
          <mat-icon aria-hidden="false" aria-label="home icon" style="font-size: 18px;" >chat</mat-icon>
          Chat
        </button>

        <button *ngIf="!username" mat-raised-button routerLink="login" routerLinkActive="active" class="nav-button">
          Login|Register
        </button>
        <button *ngIf="username" mat-raised-button (click)="onLogout()" class="nav-button">
          <mat-icon aria-hidden="false" aria-label="logout icon" style="font-size: 18px;" >exit_to_app</mat-icon>

          Logout
        </button>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>