<h1>DoConnect</h1>

<div class="login-container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <h2>Login</h2>
        <form novalidate #loginForm="ngForm" (ngSubmit)="login(loginForm, userName.value, password.value)">
          <div class="form-group">
            <mat-form-field appearance="fill">
              <input matInput class="form-control" type="text" placeholder="Username" name="userName" id="userName" ngModel required #userName="ngModel">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="fill">
              <input matInput type="password" placeholder="Password" name="password" id="password" ngModel required #password>
            </mat-form-field>
          </div>
          <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login  </button>
          <div *ngIf="errorMessage" class="error alert alert-danger mt-3">{{ errorMessage }}</div>
          <button mat-raised-button color="warn" routerLink="/signup">Register</button>

        </form>
      </div>
    </div>
  </div>
  