      <mat-grid-list cols="2" rowHeight="2:4">
    <mat-grid-tile>
        <app-login></app-login>
    </mat-grid-tile>
    <mat-grid-tile style="flex-grow: 1;flex-basis: 0;background:linear-gradient(to right,rgba(94,231,223,0.5), rgba(180,144,202,0.5)); ">
        <div >
            <div class="col-lg-6 d-flex flex-column" >
                <div class="d-flex align-items-center" >
                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                        <h3 class="mb-4">A Stack OverFlow Like Forum</h3>
                        <h4>Connect with experts, elevate your knowledge - Ask, Answer, DoConnect!</h4>
                        <p class="small mb-0">DoConnect is a popular Q and A form in which techniques questions were asked and
                            answered.</p>
                    </div>
                </div>
            </div>
        </div>
    
    </mat-grid-tile>
</mat-grid-list>
