<mat-grid-list cols="2" rowHeight="750px" style="height: calc(100vh - 64px); overflow-y: auto;">
    <mat-grid-tile>
      <app-login></app-login>
    </mat-grid-tile>
    <mat-grid-tile style="flex-grow: 1; flex-basis: 0; background:linear-gradient(to right,rgba(94,231,223,0.5), rgba(180,144,202,0.5)); ">
      <div class="col-lg-6 d-flex flex-column h-100 justify-content-center align-items-center">
        <div class="text-white px-3 py-4 p-md-5 mx-md-4" style="text-align: center;">
          <h3 class="mb-4">A Stack OverFlow Like Forum</h3>
          <h4>Connect with experts, elevate your knowledge - Ask, Answer, DoConnect!</h4>
          <p class="small mb-0">DoConnect is a popular Q and A form in which techniques questions were asked and
            answered.</p>
        <img src="assets/image/thoughtful-woman-with-laptop-looking-big-question-mark_1150-39362.avif" alt="" >        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  